@page "/product"

<div>
    <h3>Product</h3>
    <div class="blueBackg">
        <div class="col-md-3 div">
            <div>
                <FieldLabel Class="blackText">Ürün Durumu</FieldLabel>
                <div>
                    <Select TValue="string" SelectedValue="@productionStatus" Float="Float.Left">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>

            <br /> <br /> <br />
            <div>
                <FieldLabel Class="blackText">Organizasyon</FieldLabel>
                <div>
                    <Select TValue="string" SelectedValue="@organization" Float="Float.None">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>

            <br />
            <div>
                <FieldLabel Class="blackText">Sipariş Adı</FieldLabel>
                <div>
                    <Validation UsePattern="true">
                        <TextEdit Pattern="[A-Za-z]{3}">
                            <Feedback>
                                @*<ValidationError>Pattern does not match!</ValidationError>*@
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </div>
            </div>

            <br />
            <div>
                <FieldLabel Class="blackText">Sipariş Geliş Tarihi</FieldLabel>
                <div>
                    <Select TValue="DateTime?" SelectedValue="@orderDate" Float="Float.Right">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>
            <br /><br /><br />

            <div>
                <FieldLabel Class="blackText">Başlangıç Tarihi</FieldLabel>
                <div>
                    <Select TValue="DateTime?" SelectedValue="@productionStartDate" Float="Float.Right">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>
            <br />

        </div>


        <div class="col-md-3 div">

            <div>
                <FieldLabel Class="blackText">Ürün Tipi</FieldLabel>
                <div>
                    <Select TValue="string" SelectedValue="@productType" Float="Float.Left">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>

            <br /> <br /> <br />
            <div>
                <FieldLabel Class="blackText">Müşteri</FieldLabel>
                <div>
                    <Select TValue="string" SelectedValue="@customer" Float="Float.None">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>

            <br />
            <div>
                <FieldLabel Class="blackText">Toplam Ürün Adedi</FieldLabel>
                <div>
                    <NumericEdit TValue="int?" />
                </div>
            </div>

            <br />
            <div>
                <FieldLabel Class="blackText">Beklenen Başlama Tarihi</FieldLabel>
                <div>
                    <Select TValue="DateTime?" SelectedValue="@expectedStartDate" Float="Float.Right">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>
            <br /><br /><br />

            <div>
                <FieldLabel Class="blackText">Tamamlanma Tarihi</FieldLabel>
                <div>
                    <Select TValue="DateTime?" SelectedValue="@completeDate" Float="Float.Right">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>
            <br />

        </div>

        <div class="col-md-3 div">

            <div>
                <FieldLabel Class="blackText">Sayaç Tipi</FieldLabel>
                <div>
                    <Select TValue="string" SelectedValue="@detailedProductType" Float="Float.Left">
                        <SelectItem Value="1">1</SelectItem>
                        <SelectItem Value="2">2</SelectItem>
                        <SelectItem Value="3">3</SelectItem>
                        <SelectItem Value="4">4</SelectItem>
                    </Select>
                </div>
            </div>

            <br /> <br /> <br />
            <div>
                <FieldLabel Class="blackText">IFS No</FieldLabel>
                <div>
                    <Validation UsePattern="true">
                        <TextEdit Pattern="[A-Za-z]{3}">
                        </TextEdit>
                    </Validation>
                </div>
            </div>

            <br />
            <div>
                <FieldLabel Class="blackText">Başlangıç</FieldLabel>
                <div>
                    <DateEdit TValue="DateTime?" Date="@startDate" />
                </div>
            </div>
            <br />
            <div>
                <FieldLabel Class="blackText"> Bitiş </FieldLabel>
                <div>
                    <DateEdit TValue="DateTime?" Date="@endDate" />
                </div>
            </div>
            <br />
            <div>
                <FieldLabel Class="blackText">Sevk Tarihi</FieldLabel>
                <div>
                    <Select TValue="DateTime?" SelectedValue="@shipmentDate" Float="Float.Right">
                        <SelectItem Value=DateTime.Now>1</SelectItem>
                    </Select>
                </div>
            </div>
            <br />

        </div>

        <div class="col-md-3 nextbutton1">

            <Blazorise.Button Clicked="@OnButtonClicked" Color="Blazorise.Color.Light">Next</Blazorise.Button>

        </div>
    </div>
</div>




@code{
    string selectedValue;
    int selectedValue1;
    int selectedValue2;
    DateTime? selectedDate;
    string productionStatus;
    string organization;
    string orderName;
    DateTime? orderDate;
    DateTime? productionStartDate;
    string productType;
    string customer; //organization
    DateTime? expectedStartDate;
    DateTime? completeDate;
    string detailedProductType;
    DateTime? startDate;
    DateTime? endDate;
    DateTime? shipmentDate;

    void OnSelectedValueChanged(string value)
    {
        selectedValue = value;
        Console.WriteLine(selectedValue);
    }
    void OnSelectedValueChanged1(int value)
    {
        selectedValue1 = value;
        Console.WriteLine(selectedValue1);
    }
    void OnSelectedValueChanged2(int value)
    {
        selectedValue2 = value;
        Console.WriteLine(selectedValue2);
    }
    void OnDateChanged(DateTime? date)
    {
        selectedDate = date;
    }

    void OnButtonClicked()
    {
        Console.WriteLine("Burak!");
    }
}
